[run]
omit =
    # omit anything in a .local directory anywhere
    */.tox/*
    */coverage/*
    */some_code/*
# parallel = True

[report]
show_missing = False
precision = 2
skip_covered = False
sort = Cover
